/* ////////////////////////////////////    Body   //////////////////////////////// */
body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ///////////////////////////////////    Navbar   /////////////////////////////// */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(60, 140, 250);
  padding: 1.5%;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 2%;
  font-size: 1.4vw;
}

/*=========================================================
                       Home Page
===========================================================*/

/* /////////////////////////////////    Main   /////////////////////////////////// */
.main {
  display: flex;
  justify-content: space-around;
}
.main-text {
  width: 50%;
  height: auto;
}
.main-text p {
  font-size: 4vw;
  margin-top: 20%;
}
.main-image {
  width: 40%;
  height: auto;
}
.main-image img {
  width: 95%;
  height: auto;
  margin-top: 5%;
}

.main-link a {
  background-color: rgb(240, 25, 25);
  color: white;
  text-decoration: none;
  margin: 1%;
  padding: 1.5%;
  border-radius: 4px;
  font-size: 1.3vw;
  transition-property: margin-bottom, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.main-link a:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 50px 0 rgba(0, 0, 0, 0.1);
}
.main-link {
  margin-left: 5%;
}

/* /////////////////////////////////    GuideLines   //////////////////////////////// */
.guide-header {
  font-size: 3vw;
  text-align: center;
}
.guide-header p {
  margin-bottom: 0;
}
.guide {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.guide p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 140, 250);
  color: white;
  padding: 5%;
  font-size: 1.5vw;
  border-radius: 4px;
  transition-property: margin-bottom, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.guide p:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* ////////////////////////////////    Contact Us   ////////////////////////////////////// */
.contact-us {
  background-image: url(images/pexels-negative-space-33999.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: auto;
  position: absolute;
}
.contact-form {
  position: relative;
  width: 48%;
  height: auto;
  margin: 0 0 0 42%;
  padding: 5%;
  background-color: rgba(138, 138, 138, 0.4);
}
.form-input {
  display: flex;
  flex-direction: column;
}
.input {
  margin: 5%;
  border: none;
  border-bottom: 2px solid rgb(60, 140, 250);
  background: none;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: black;
  opacity: 1;
}
.form-text p {
  font-size: 3vw;
  text-align: center;
}
.form-button {
  text-align: center;
  margin: 5%;
}
.form-button a {
  text-decoration: none;
  background-color: rgb(60, 140, 250);
  padding: 3% 5%;
  border-radius: 4px;
  color: white;
}
/* /////////////////////////////    Pop Up   /////////////////////////////////// */

/*=========================================================
                       Sign In Page
===========================================================*/

.signin-body {
  background-color: rgb(39, 101, 116);
}
.signin-container {
  background-image: url(images/pexels-mateusz-dach-450035.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: auto;
  margin: 2% auto;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.form-container {
  background-color: rgba(36, 36, 36, 0.5);
  width: 60%;
  height: auto;
  padding: 8% 5%;
}
.signin-form {
  margin: 5% 5%;
  width: 50%;
}
.signin-form p {
  color: white;
}
.signin-input {
  display: flex;
  flex-direction: column;
}
.signin {
  margin: 8% 0;
  border: none;
  border-bottom: 2px solid rgb(60, 140, 250);
  background: none;
}
.signin:focus {
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1;
}
.signin-text p {
  font-size: 3vw;
  text-align: center;
  margin: 5% 0;
}
.signin-button {
  text-align: center;
  margin: 10% 0;
}
.signin-button a {
  text-decoration: none;
  background-color: rgb(60, 140, 250);
  padding: 3% 5%;
  border-radius: 4px;
  color: white;
}
.qoute-container {
  background-color: rgb(60, 140, 250);
  width: 40%;
}
.forgot-check {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}
.signin-form a {
  color: white;
}
label {
  color: white;
}
.createaccnt p {
  text-align: center;
}
.qoute-container p {
  color: white;
  font-size: 3vw;
  text-align: center;
  padding: 2%;
  margin-top: 40%;
}
/*=========================================================
                       log In Page
===========================================================*/

.login-container {
  background-image: url(images/pexels-mateusz-dach-450035.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: auto;
  margin: 2% auto;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.form-login {
  background-color: rgba(36, 36, 36, 0.5);
  width: 60%;
  height: auto;
  padding: 3% 5%;
}
.login-form {
  margin: 3% 5%;
  width: 60%;
}
.login-form p {
  color: white;
}
.login-input {
  display: flex;
  flex-direction: column;
}
.login {
  margin: 5% 0;
  border: none;
  border-bottom: 2px solid rgb(60, 140, 250);
  background: none;
}
.login:focus {
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1;
}
.login-text p {
  font-size: 3vw;
  text-align: center;
  margin: 5% 0;
}
.login-button {
  text-align: center;
  margin: 10% 0;
}
.login-button a {
  text-decoration: none;
  background-color: rgb(60, 140, 250);
  padding: 3% 5%;
  border-radius: 4px;
  color: white;
}
.login-form a {
  color: white;
}
.qoute-container2 p {
  color: white;
  font-size: 3vw;
  text-align: center;
  padding: 2%;
  margin-top: 40%;
}
.qoute-container2 {
  background-color: rgb(60, 140, 250);
  width: 40%;
}
