/* ///////////    Body   ///////////// */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ///////////    Navbar   ///////////// */
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(60, 140, 250);
  padding: 1.5%;
}
.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 2%;
  font-size: 1.4vw;
}

/* ///////////    Main   ///////////// */
.main {
  display: flex;
  justify-content: space-around;
}
.main-text {
  width: 50%;
  height: auto;
}
.main-text p {
  font-size: 4vw;
  margin-top: 20%;
}
.main-image {
  width: 40%;
  height: auto;
}
.main-image img {
  width: 95%;
  height: auto;
  margin-top: 5%;
}

.main-link a {
  background-color: rgb(240, 25, 25);
  color: white;
  text-decoration: none;
  margin: 1%;
  padding: 1.5%;
  border-radius: 4px;
  font-size: 1.5vw;
  transition-property: margin-bottom, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.main-link a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.main-link {
  margin-left: 5%;
}

/* ///////////    GuideLines   ///////////// */
.guide-header {
  font-size: 3vw;
  text-align: center;
}
.guide {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4%;
  margin: auto;
  text-align: center;
}
.guide p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 140, 250);
  padding: 5%;
  font-size: 1.5vw;
  border-radius: 4px;
  transition-property: margin-bottom, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.guide p:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.guide a {
  text-decoration: none;
  color: white;
}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* ///////////    Contact Us   ///////////// */
.contact-us {
  background-image: url(images/pexels-negative-space-33999.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: auto;
  position: absolute;
}
.contact-form {
  position: relative;
  width: 25%;
  margin: 5% 0 5% 50%;
  padding: 5%;
  background-color: rgba(138, 138, 138, 0.4);
  border-radius: 8px;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.input {
  margin: 5%;
  border: none;
  border-bottom: 2px solid rgb(60, 140, 250);
  background: none;
}
.input:focus {
  outline: none;
}
::placeholder {
  color: rgb(82, 80, 80);
  opacity: 1;
}
.form-text p {
  font-size: 3vw;
  text-align: center;
}
.form-button {
  text-align: center;
  margin: 5%;
}
.form-button a {
  text-decoration: none;
  background-color: rgb(60, 140, 250);
  padding: 3% 5%;
  border-radius: 4px;
  color: white;
}
